footer.footer
  .footer__wrapper
    .footer__logo__wrapper
      figure.footer__media
        img.footer__media__image(alt=footer.data.logo.alt src=footer.data.logo.url)
    .footer__contact__wrapper
      address.footer__address=footer.data.address[0].text
      br
      a.footer__phone(href="tel:"+footer.data.phone[0].text)
        phone.footer__phone=footer.data.phone[0].text
      br
      a.footer__email(href="mailto:"+footer.data.email[0].text)
        phone.footer__email=footer.data.email[0].text

    .footer__social__wrapper
      p.footer__social__text=footer.data.follow_text[0].text
      .footer__social__media__wrapper
        each image in footer.data.social_icons
          figure.footer__social__icon
            img.footer__social__icon__image(alt=image.icon.alt src=image.icon.url)

    .footer__poweredby
      a(href="https://www.blueblissstudio.com")
        p.footer__poweredby__text Website by Blue Bliss
