nav.navigation
  .navigation__wrapper
    .navigation__bar
      a.navigation__link(href="/")
        img.navigation__link__icon(alt=navbar.data.logo.alt data-src=navbar.data.logo.url)
      .navigation__hamburger
        a.navigation__hamburger__link(href=`${template}#navigation__open`)
          include ./hamburger
    .navigation__open#navigation__open
      ul.navigation__list
        each item in navigation.data.link
          a.navigation__list__link(href=Link(item.linktopage.slug))
            li.navigation__list__item=item.page[0].text
