doctype html

block variables

html(lang=en)
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    base(href="/")

    title="Cartinia"

    meta(name="description" content="classic cars")

    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")

    meta(property="type" content="website")
    meta(property="og:title" content=meta.data.title)
    meta(property="og:description" content=meta.data.description)
    meta(property="og:image" content=meta.data.image ? meta.data.image.url : "")

    meta(property="twitter:card" content="summary_large_image")
    meta(property="twitter:title" content=meta.data.title)
    meta(property="twitter:description" content=meta.data.description)
    meta(property="twitter:image" content=meta.data.image ? meta.data.image.url : "")

    link(rel="preconnect" href="https://www.google-analytics.com")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(rel="preconnect" href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500&display=swap")
    link(rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500&display=swap")

    noscript
      link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500&display=swap")

    link(href="main.css" rel="stylesheet")

  body

    include ./partials/preloader
    include ./partials/navigation

    // .home
      .home__wrapper
        section.home__landing
          .home__landing__left
            figure.home__landing__background
              img.home__landing__background__image(alt=home.data.hero.alt data-src=home.data.hero.url)
          .home__landing__scroll
            p.home__landing__scroll__text=home.data.scroll[0].text
          .home__landing__right
            figure.home__landing__media
              img.home__landing__media__image(alt=home.data.logo.alt data-src=home.data.logo.url)
            .home__landing__introduction
              h2.home__landing__introduction__title=home.data.title[0].text
              h3.home__landing__introduction__subtitle=home.data.subtitle[0].text
            .home__landing__countries
              each country in home.data.countries
                p.home__landing__countries__list=country.text

    .content#content(data-template=template)
      block content

    .modals
      block modal

    include ./partials/footer

    script(src="main.js")
