extends ../base

block variables
  - var template = "on-sale"

block content
  .on-sale__wrapper
    h1.on_sale__title=on_sale.data.title[0].text
    p.on_sale__caption=on_sale.data.cta[0].text
    each car in on_sale.data.cars
      figure.on-sale__car__media
        img.on_sale__car__media__image(alt=car.image.alt url=car.image.url)
      p.on_sale__car__description=car.description[0].text

    each section in on_sale.data.body
      if section.slice_type === "call_to_action"
        h3=section.primary.title[0].text
        a(href=section.primary.button_link.slug)
          p=section.primary.button_label
